<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="local-mssql" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=OpenAccessTest;Integrated Security=True"/>
    <add name="local-mysql" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=OpenAccessTest;User Id=openaccess;Password=openaccess"/>
    <add name="local-oracle" providerName="Oracle.DataAccess.Client" connectionString="Enlist=dynamic;Pooling=false;User Id=openaccesstest;Data Source=XE;Password=openaccesstest"/>
    <add name="local-moracle" providerName="Oracle.ManagedDataAccess.Client" connectionString="Enlist=dynamic;Pooling=false;User Id=openaccesstest;Data Source=XE;Password=openaccesstest"/>
    <add name="local-postgres" providerName="Npgsql" connectionString="Server=localhost;Database=OpenAccessTest;User=postgres;Password=openaccess"/>
    <add name="local-firebird" providerName="FirebirdSql.Data.FirebirdClient" connectionString="Database=OpenAccessTest.fdb;Server=localhost;User=SYSDBA;Password=masterkey"/>
    <add name="local-sqlite" connectionString="Data Source=C:\temp\OpenAccessTest.db3" providerName="System.Data.SQLite"/>
    <add name="local-vistadb" connectionString="Data Source=C:\temp\OpenAccessTest.vdb4" providerName="System.Data.VistaDB"/>
    <add name="local-sqlce" connectionString="Data Source=C:\temp\OpenAccessTest.sdf;Password=vanatec" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <!--<add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
      <!--<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.112.3.60, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
      <!--<add name="Advantage Data Provider" invariant="Advantage.Data.Provider" description=".Net Framework Data Provider for Advantage Database Server" type="Advantage.Data.Provider.AdsFactory, Advantage.Data.Provider, Version=10.10.2.18, Culture=neutral, PublicKeyToken=e33137c86a38dc06" />-->
      <add name="SQLite" invariant="System.Data.SQLite" description="SQLite Database" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.94.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <!--<add name="Postgres" invariant="Npgsql" description="Postgres Database" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />-->
      <!--<add name="Microsoft SQL Server Compact Data Provider 3.5" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />-->
      <!--<add name="SQL Anywhere 12 Data Provider" invariant="iAnywhere.Data.SQLAnywhere" description=".Net Framework Data Provider for SQL Anywhere 12" type="iAnywhere.Data.SQLAnywhere.SAFactory, iAnywhere.Data.SQLAnywhere.v4.0, Version=12.0.1.31524, Culture=neutral, PublicKeyToken=f222fc4333e0d400" />-->
      <!--<add name="VistaDB" description="VistaDB 4 ADO.NET Provider for .Net" invariant="System.Data.VistaDB" type="VistaDB.Provider.VistaDBProviderFactory, VistaDB.4, Version=4.1.0.0, Culture=neutral, PublicKeyToken=dfc935afe2125461" />-->
      <!--<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />-->
      <!--<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=3.0.2.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />-->
      <!--<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=ea3c53904688bddc" />-->
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="drivers"/>
    </assemblyBinding>
  </runtime>
</configuration>
